html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Animations */
@keyframes moveSideBar {
  0% {
    transform: translateX(-420px);
    z-index: 100;
  }
  100% {
    transform: translateX(-0px);
  }
}

@keyframes moveSubMenu {
  0% {
    transform: translateX(420px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-420px);
  }
}

@keyframes moveIntro {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-420px);
  }
}
